@import url('https://googleapis.com');
@import "tailwindcss";

/* :root {
  --background: #c597e0;
  --foreground: #171717;
} */

@theme {
  --font-roboto: "Roboto", monospace;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-slide-right: slide-right 0.8s ease-in-out forwards;
  --animate-slide-right-r: slide-right-r 0.8s ease-in-out forwards;
  --animate-hidden: hidden-animate 1s ease-in-out;
  --animate-appears: appears-animate 1s ease-in-out;
}

@keyframes appears-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hidden-animate {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right-r {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-150%);
    opacity: 0;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}